body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

#Calculator{

    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 550px;
    overflow: hidden;

}

#display{

    width : 100%;
    background-color: rgb(62, 62, 62);
    border: none;
    padding : 20px;
    font-size: 5rem;
    text-align: left;
    color : white;
}

#keys{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap : 10px;
    padding : 25px;

}

button{

    width : 100px;
    height: 100px;
    border-radius: 50%;
    border : none;
    color : white;
    background-color: hsl(0, 0%, 30%);
    font-size: 30px;
    margin: 7px;
    cursor: pointer;
}
button:hover{

    background-color: hsl(0, 0%, 7%);
}
button:active{

    background-color: hsl(0, 0%, 24%);
}

.operator-btn{

    background-color: orange;
    color : black;
}

.operator-btn:hover{

    background-color: rgb(237, 159, 15);
}
.operator-btn:active{

    background-color: rgb(213, 165, 76);
}